body {
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

#content {
  width: 100vw;
  height: 100vh;
  #arena {
    overflow: hidden;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;

    #floor {
      z-index: 0;
      position: absolute;

      transform: perspective(30em) rotateX(75deg);
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        #87cefa 35%,
        #e7f29d 40%,
        #e7f29d 60%,
        #d1b08c 100%
      );
    }
    #wallRight {
      z-index: 1;
      transform: perspective(30em) rotateY(-30deg) translateZ(-50vh)translateX(140vh);
      transform-style: preserve-3d;
      position: absolute;
      left: 0;
      width: 70%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        #87cefa 10%, 
        #4ba3c7 25%,  
        #2e76a3 44%,   
        #87cefa 45%,   
        #87cefa 47%,   
        #e7f29d 47%,  
        #e7c25c76 70%,   
        #d1b08c2d 100%   
  
      );
    }
    
    #wallForward {
      position: absolute;

      transform: translateZ(-50vh);
      transform-style: preserve-3d;
      width: 100%;
      height: 45%;
      background-image: linear-gradient(
        to bottom,
        #87cefa 10%,    
        #8ae2fa 30%,    
        #4ba3c7 60%,   
        #2e76a3 100%    
      );
    }
    
    #wallLeft {
      transform: perspective(30em) rotateY(90deg) translateZ(-50vh);
      transform-style: preserve-3d;
      width: 60%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        #87cefa25 25%,    // Sky color
        #8ae2fa 40%,    // Water color
        #e7f29d 50%,    // Sand color (light yellow)
        #e7c25c76 70%,    // Slightly darker yellow for sand
        #d1b08c2d 100%    // Darker yellow (deep sand color)
  
      );
    }
  }
}

#chat {
  position: absolute;
  width: 30vw;
  transform-style: preserve-3d;

  border: 1px solid black;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column-reverse;

  &_pastMessages {
    overflow-y: auto;
    width: 100%;
    height: 25vw;
    transform-origin: top;
    background-color: rgba(94, 169, 244, 0.284);
    color: rgba(0, 0, 0, 0.284);
    user-select: text;
    &:hover {
      background-color: rgba(94, 169, 244, 0.8);
      color: rgba(0, 0, 0, 0.8);
    }
    h1 {
      padding: 0;
      margin: 0;
    }
  }
  &_messageBox {
    width: 100%;
    height: 5vw;
    input {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      padding: 0;
      font-size: 1.5rem;
    }
  }
}
#resetChatPos {
  position: absolute;
  width: 2vw;
  height: 2vw;
  bottom: 3.5vw;
  right: 13vw;
  z-index: 9999;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#resetChatPos:hover {
  background-color: rgb(253, 250, 250);
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.agent {
  position: absolute;
  z-index: 2;
  width: 5vh;
  height: 10vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    width: 100%;
    height: 70%;
    border-radius: 20px;
    background-image: url("https://i.ibb.co/Sc0ZNzf/unnamed-removebg-preview.png");
    background-size: cover;
    background-position: center;
    filter: sepia(1) hue-rotate(350deg);
  }

  .name {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 30%;
  }

  .bubble {
    position: absolute;
    top: -40px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid white; /* Match the bubble color */
    }
  }
}

#leaveRoom {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  margin: 3vw;
  width: 9vw;
  height: 3vw;
  background-color: #1a7ada;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  &:hover {
    background-color: #4682b4;
    transform: translateY(-5px);
  }
}

#sizeAdjust {
  //background-color: white;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  #chatSize {
    background-color: rgb(117, 117, 163);
    text-align: center;
    width: 95%;
    color: white;
    font-style: oblique;
    cursor: n-resize;
  }
  #chatPosition {
    cursor: grab;
    background-color: rgb(50, 50, 114);
    text-align: center;
    width: 5%;
    height: 100%;
    color: white;
    font-size: 1.2rem;
  }
}
.icon {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
