body {
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

#content {
  width: 100vw;
  height: 100vh;
  #arena {
    overflow: hidden;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      #87cefa 35%,
      #e7f29d 40%,
      #e7f29d 60%,
      #d1b08c 100%
    );
  }
}

#chat {
  position: absolute;
  width: 30vw;
  height: fit-content;
  border: 1px solid black;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column-reverse;
  &_pastMessages {
    overflow-y: auto;
    width: 100%;
    height: 25vw;
    transform-origin: top;
    background-color: rgba(94, 169, 244, 0.284);
    color: rgba(0, 0, 0, 0.284);
    user-select: text;
    &:hover {
      background-color: rgba(94, 169, 244, 0.8);
      color: rgba(0, 0, 0, 0.8);
    }
    h1 {
      padding: 0;
      margin: 0;
    }
  }
  &_messageBox {
    width: 100%;
    height: 5vw;
    input {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      padding: 0;
      font-size: 1.5rem;
    }
  }
}
.agent {
  position: absolute;
  width: 5vh;
  height: 10vw;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    width: 100%;
    height: 70%;
    border-radius: 20px;
    background-image: url("https://i.ibb.co/Sc0ZNzf/unnamed-removebg-preview.png");
    background-size: cover;
    background-position: center;
    filter: sepia(1) hue-rotate(350deg);
  }

  .name {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 30%;
  }

  .bubble {
    position: absolute;
    top: -40px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid white; /* Match the bubble color */
    }
  }
}

#leaveRoom {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3vw;
  width: 9vw;
  height: 3vw;
  background-color: #1a7ada;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  &:hover {
    background-color: #4682b4;
    transform: translateY(-5px);
  }
}

#sizeAdjust {
  //background-color: white;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  #chatSize {
    background-color: rgb(117, 117, 163);
    text-align: center;
    width: 95%;
    color: white;
    font-style: oblique;
    cursor:n-resize
  }
  #chatPosition {
    cursor:grab;
    background-color: rgb(50, 50, 114);
    text-align: center;
    width: 5%;
    height: 100%;
    color: white;
    font-size: 1.2rem;
  }
}
